<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Points of interest</title>
	<link rel="stylesheet" href="../../../../resources/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../../../resources/css/bootstrap-responsive.min.css"/>
	<link rel="stylesheet" href="../../../../resources/css/ui-lightness/jquery-ui-1.9.2.custom.css"/>
	<link rel="stylesheet" href="../../../../resources/css/jquery.tagedit.css"/>
	<link rel="stylesheet" href="../../../../resources/css/main.css"/>
	<script src="../../../../resources/js/vendor/modernizr-2.6.2.js"></script>
	<script src="../../../../resources/js/vendor/jquery-1.9.1.min.js"></script>
	<script src="../../../../resources/js/vendor/bootstrap.js"></script>
</head>

<body>
<!--  Nav bar -->
<div class="navbar navbar-inverse"><div class="navbar-inner"><div class="container"><a class="brand" href="#">OpenCatalog</a></div></div></div>

<div class="container">
  
	<!-- 
		Poi DATA
	 -->      
      <div th:fragment="poiDataTag">
         <legend th:if="${poi.type.allowedDataValidators}" th:text="#{poi.data.other}">Other Data</legend>
     	 <div th:each="data: ${poi.type.allowedDataValidators}" 
     	 	th:with="
     	 	    isBoolean=${data.value.type.toString() == 'BOOLEAN'},  
     	 		isBigText=${data.value.type.toString() == 'BIGTEXT'},
     	 		isText=${data.value.type.toString() == 'TEXT'},  
	     	 	isKeyValue=${data.value.type.toString() == 'KEY_VALUE'},
	     	 	isDouble=${data.value.type.toString() == 'DOUBLE'},
	     	 	isInteger=${data.value.type.toString() == 'INTEGER'},
     	 	    normalizedKey=${#strings.replace(data.key,':','_')}
     	 	    ">
	     	 	
				<label th:text="#{'poi.data.' + ${normalizedKey} }">label</label>
	     	 	
	     	 	<select th:if="${isBoolean}"  th:field="*{data['__${data.key}__']}" th:id="${normalizedKey}" data:key="${data.key}">
	     	 		<option value="">--</option>
	     	 		<option value="false" th:text="#{boolean.false}">No</option>
					<option value="true" th:text="#{boolean.true}">Yes</option>
				</select>
				
				<textarea th:if="${isBigText || isKeyValue }" th:field="*{data['__${data.key}__']}" class="input-xxlarge" th:id="${normalizedKey}" data:key="${data.key}" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut eros in dolor pellentesque porta. Praesent vel egestas ipsum. Vestibulum quam enim, pellentesque ac tempus in, vulputate vel lectus. Donec malesuada elit orci, vel aliquam tortor tristique nec. Ut lobortis elit ut quam d</textarea>
				
				<input th:if="${isDouble || isInteger}"  type="number" th:step="${isDouble} ? 'ANY'" data:key="${data.key}" th:id="${normalizedKey}" th:field="*{data['__${data.key}__']}" class="span3" value="Lorem ipsum dolor sit amet"/>
				
				<input th:if="${isText}"  type="text" data:key="${data.key}" th:id="${normalizedKey}" th:field="*{data['__${data.key}__']}" class="span3" value="Lorem ipsum dolor sit amet"/>
		</div>
	 </div>
	 
	
</div>
</body>
</html>




