<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Points of interest</title>
	<link rel="stylesheet" href="../../../../resources/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../../../resources/css/bootstrap-responsive.min.css"/>
	<link rel="stylesheet" href="../../../../resources/css/ui-lightness/jquery-ui-1.9.2.custom.css"/>
	<link rel="stylesheet" href="../../../../resources/css/jquery.tagedit.css"/>
	<link rel="stylesheet" href="../../../../resources/css/main.css"/>
	<script src="../../../../resources/js/vendor/modernizr-2.6.2.js"></script>
	<script src="../../../../resources/js/vendor/jquery-1.9.1.min.js"></script>
	<script src="../../../../resources/js/vendor/bootstrap.js"></script>
</head>

<body>
<!--  Nav bar -->
<div class="navbar navbar-inverse"><div class="navbar-inner"><div class="container"><a class="brand" href="#">OpenCatalog</a></div></div></div>

<div class="container">
  
	<!-- 
		Poi Score
	-->      
	<div th:fragment="poiScoreTag" th:if="${poi.poiType.allowedScores}">
		<legend  th:text="#{poi.score}">Score</legend>
		<select th:field="*{score}" >
			<option value="">--</option>)
			<option
				th:each="score : ${poi.poiType.allowedScores}"
				value="--" 
				th:value="${score}" 
				th:text="#{'poi.score.' + ${score}}">--</option>
			<option th:remove="all" value="1S">1 Star</option>
			<option th:remove="all" value="2S">2 Star</option>
	    </select>
	 </div>
	
	
</div>
</body>
</html>




