<!DOCTYPE html>
<html>
<head th:substituteby="fragments/template :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>User</title>
    <link rel="stylesheet" href="../../../../resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../../resources/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="../../../../resources/css/ui-lightness/jquery-ui-1.9.2.custom.css"/>
	<link rel="stylesheet" href="../../../../resources/css/jquery.tagedit.css"/>
    <link rel="stylesheet" href="../../../../resources/css/main.css"/>
</head>

<body>

	<!--  Nav bar -->
	<div th:substituteby="fragments/template :: navTag" class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">OpenCatalog</a>
			</div>
		</div>
	</div>
    
    <!-- container -->    
	<div class="container">
	
		<div th:substituteby="fragments/template :: alert" />
			
		<h1 th:text="#{user.header}" >User</h1>
     	
	    
		<form id="userForm" action="#" data-id="1" method="POST"  
			th:action="@{'/admin/user/' + ${user.id?:''}}" 
			th:object="${user}" 
			data:id="${user.id?:''}" >
			
			<ul class="nav nav-tabs">
				<li class="active"><a href="#data" data-toggle="tab" th:text="#{user.data}" >Data</a></li>
				<li><a href="#zones" data-toggle="tab" th:text="#{user.zones}">Zones</a></li>
				<li><a href="#roles" data-toggle="tab" th:text="#{user.roles}">Roles</a></li>
			</ul>
		 	
		 	<div class="tab-content">
			
				<!--  Data -->
				<div th:substituteby="admin/user/fragments/userData :: dataTag" class="tab-pane active" id="data">
					Sample user data
				</div>
				
				<!-- Zones -->				
				<div th:substituteby="admin/user/fragments/userZones :: zonesTag" class="tab-pane" id="zones">
					Sample user zones
				</div>
				
				<!-- Roles -->				
				<div th:substituteby="admin/user/fragments/userRoles :: rolesTag" class="tab-pane" id="roles">
					Sample user roles
				</div>
		    </div>

	  		<hr/>

			<div class="well">
				
				<input type="submit" class="btn btn-primary saveButton" th:value="#{button.save}" value="Save" ></input>
	  		 	<a href="./userList.html" th:href="@{/admin/user/}" th:text="#{button.cancel}">Cancel</a>
	  		 	<button class="btn btn-danger pull-right deleteButton"><i class="icon-remove icon-white"></i> <span th:text="#{button.delete}">Delete</span></button>
  		 	</div>
	  		
	  </form>  
	</div>
        
	<!-- footer -->
	<footer th:substituteby="fragments/template :: footerTag">
	    <hr/>
		<p>&copy; Spain.info</p>
	</footer>
	

	<div th:substituteby="fragments/template :: scripts" >
	    <!-- COMMON SCRIPTS -->
		<script src="../../../../resources/js/vendor/modernizr-2.6.2.js"></script>
	    <script src="../../../../resources/js/vendor/jquery-1.9.1.min.js"></script>
	    <script src="../../../../resources/js/vendor/bootstrap.js"></script>
	    <script src="../../../../resources/js/main.js"></script>
	</div>
	
	<div>
		<script src="../../../../resources/js/user/user-zones.js" th:src="@{/resources/js/user/user-zones.js}"></script>
		
		
	</div>

</body>
</html>
