<!DOCTYPE html>
<html>
<head th:substituteby="fragments/template :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>User</title>
    <link rel="stylesheet" href="../../../../resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../../resources/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="../../../../resources/css/ui-lightness/jquery-ui-1.9.2.custom.css"/>
	<link rel="stylesheet" href="../../../../resources/css/jquery.tagedit.css"/>
    <link rel="stylesheet" href="../../../../resources/css/main.css"/>
</head>

<body>

	<!--  Nav bar -->
	<div th:substituteby="fragments/template :: navTag" class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">OpenCatalog</a>
			</div>
		</div>
	</div>
    
    <!-- container -->    
	<div class="container">
	
		<div th:substituteby="fragments/template :: alert" />
			
		<h1 th:text="#{user.header}" >User</h1>
     	
	    
		<form id="userForm" action="#" data-id="1" method="POST"  
			th:action="@{'/admin/user/' + ${user.id?:''}}" 
			th:object="${user}" 
			data:id="${user.id?:''}" >
		 	
		 	<input th:if="${user.id}" type="hidden" name="_method" value="PUT" />
		
			<div>
				<label th:text="#{user.email}">Email</label>
		  		<div class="alert alert-error" th:if="${#fields.hasErrors('email')}">
			  		<ul>
					  <li th:each="err : ${#fields.errors('email')}" th:text="#{${err}}">Input is incorrect</li>
					</ul>
		  		</div>
		  		<input th:unless="${user.id}" name="email" type="text" th:field="*{email}" placeholder="Enter email" th:placeholder="#{user.email.placeholder}" class="input-xxlarge" required="required" value="root"/>
				<input th:if="${user.id}"     name="email" type="text" th:field="*{email}" class="input-xxlarge" required="required" readonly="readonly" value="root"/>
				
		 	
				<label th:text="#{user.name}">Name</label>
		  		<div class="alert alert-error" th:if="${#fields.hasErrors('name')}">
			  		<ul>
					  <li th:each="err : ${#fields.errors('name')}" th:text="#{${err}}">Input is incorrect</li>
					</ul>
		  		</div>
		  		<input name="name" type="text" th:field="*{name}" placeholder="Enter user real name" th:placeholder="#{user.name.placeholder}" class="input-xxlarge" required="required" value="Administrator"/>
			
			
				<label th:text="#{user.password}">Password</label>
		  		<div class="alert alert-error" th:if="${#fields.hasErrors('password')}">
			  		<ul>
					  <li th:each="err : ${#fields.errors('password')}" th:text="${err}">Input is incorrect</li>
					</ul>
		  		</div>
		  		
		  		<input name="password" 	 type="password"  class="input-xxlarge" placeholder="Enter password"  th:placeholder="#{user.password.placeholder}" />
				<input name="repassword" type="password"  class="input-xxlarge" placeholder="Retype password" th:placeholder="#{user.repassword.placeholder}" />
			
			
				<label th:text="#{user.apiKey}">API KEY</label>
		  		<input name="apiKey" type="text" th:field="*{apiKey}" class="input-xxlarge" value="xxxxxx" readonly="readonly"/>
				
				
			</div>
		
	  		<hr/>
			<div class="well">
				<input type="submit" class="btn btn-primary saveButton" th:value="#{button.save}" value="Save" ></input>
	  		 	<a href="./userList.html" th:href="@{/admin/user/}" th:text="#{button.cancel}">Cancel</a>
	  		 	<button class="btn btn-danger pull-right deleteButton"><i class="icon-remove icon-white"></i> <span th:text="#{button.delete}">Delete</span></button>
  		 	</div>
	  		
	  </form>  
	</div>
        
	<!-- footer -->
	<footer th:substituteby="fragments/template :: footerTag">
	    <hr/>
		<p>&copy; Spain.info</p>
	</footer>
	

	<div th:substituteby="fragments/template :: scripts" >
	    <!-- COMMON SCRIPTS -->
		<script src="../../../../resources/js/vendor/modernizr-2.6.2.js"></script>
	    <script src="../../../../resources/js/vendor/jquery-1.9.1.min.js"></script>
	    <script src="../../../../resources/js/vendor/bootstrap.js"></script>
	    <script src="../../../../resources/js/main.js"></script>
	</div>
	
	<div>
		<div th:remove="all"><!-- PAGE SCRIPTS --></div>
		
	</div>
	
	<script>
	// <![CDATA[
	// 
	
	// ]]>
	</script>
	
</body>
</html>
