.poicollectionview {
  tr {
    border: none;
  }
  tr:nth-child(2n) {
    background-color: @lightGrey;
  }
}

.entry-name {
  line-height: 50px;
}
.entry-description {
  line-height: (@rowHeight - 50px);
  color: #777;
  margin-bottom: 5px;
}

.td-poi-thumb {
  height: @rowHeight;
  background: transparent no-repeat 50% 50%;
  background-size: cover;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}