@poiRowHeight: @rowHeight + 10px;

.poicollectionview {
  .item-row {
    border: none;
    height: @poiRowHeight;
  }
  .item-row:nth-child(2n) {
    background-color: @lightGrey;
  }
}

.poi-tr-name {
  line-height: 50px;
  height: 50px;
}
.poi-tr-description {
  line-height: (@poiRowHeight - 55px);
  height: (@poiRowHeight - 55px);
  color: #777;
  margin-bottom: 5px;
}

.poi-tr-thumb {
  height: @poiRowHeight;
  padding-top: 5px;
  padding-bottom: 5px;
  background: transparent no-repeat 50% 50%;
  background-size: cover;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}