.poiview {
  font-size: 25px;
  line-height: 35px;
}
.titlebar {
  background-color: @lightGrey;
  .clearfix();
  address {
    font-size: 16px;
    line-height: 20px;
    clear: both;
  }
  .star {
    float: right;
  }
  .details {
    float: left;
  }
}

.poi-imgs {
  img {
    width: 100%;
  }
}
.description {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}