.poiview {
}
.titlebar {
  background-color: @lightGrey;
  .clearfix();
  address {
    clear: both;
    // margin-bottom: 10px;
    margin-top: 3px;
  }
  .icon-map {
    color: #555;
    font-size: @largeFontSize;
  }
}

.star {
  font-size: (@baseFontSize+@smallFontSize);
  line-height: (@baseLineHeight+@smallLineHeight);
  margin-left: -@grid-gutter-width/2; //Definido en el grid de bootstrap

  &.icon-star {
    color: orange;
    text-shadow: 0 0 2px darken(orange, 40%);
  }
}
.poi-imgs {
  height: 200px;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.description {
  margin: 0;
}