<!DOCTYPE html>
<html>
<head th:substituteby="fragments/template :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Zone</title>
    <link rel="stylesheet" href="../../../../resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../../resources/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="../../../../resources/css/ui-lightness/jquery-ui-1.9.2.custom.css"/>
	<link rel="stylesheet" href="../../../../resources/css/jquery.tagedit.css"/>
    <link rel="stylesheet" href="../../../../resources/css/main.css"/>
</head>

<body>

	<!--  Nav bar -->
	<div th:substituteby="fragments/template :: navTag" class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">OpenCatalog</a>
			</div>
		</div>
	</div>
    
    <!-- container -->    
	<div class="container">
	
		<div th:substituteby="fragments/template :: alert" />
			
		<h1 th:text="#{zone.header}" >Zone</h1>
        
        
		<form id="zoneForm" action="#" data-id="1" method="POST"  
			th:action="@{'/admin/zone/' + ${zone.id?:''}}" 
			th:object="${zone}" 
			data:id="${zone.id?:''}" >
		 	
		 	<input th:if="${zone.id}" type="hidden" name="_method" value="PUT" />
		
			<div>
		 	
				<label th:text="#{zone.name}">Name</label>
		  		<div class="alert alert-error" th:if="${#fields.hasErrors('name')}">
			  		<ul>
					  <li th:each="err : ${#fields.errors('name')}" th:text="#{${err}}">Input is incorrect</li>
					</ul>
		  		</div>
		  		<input id="gsearcher" name="name" type="text" th:field="*{name}" placeholder="Enter zone name" th:placeholder="#{zone.name.placeholder}" class="input-xxlarge" required="required" value="Zona centro"/>
				
				<label th:text="#{zone.description}">Description	 (ES)</label>
	  			<div class="alert alert-error" th:if="${#fields.hasErrors('description')}">
			  		<ul>
					  <li th:each="err : ${#fields.errors('description')}" th:text="#{${err}}">Input is incorrect</li>
					</ul>
		  		</div>
			  	<textarea name="description" class="input-xxlarge" th:field="*{description}" placeholder="Enter zone description)" th:placeholder="#{zone.description.placeholder}" required="required" >Zona centro de la península ibérica</textarea>
			</div>
		
			
			<fieldset>
				<legend th:text="#{zone.address}">Address</legend>
				<div class="row">
				 	<div class="span3">
					 	<label th:text="#{zone.address.adminArea2}">Admin Area 2</label>
					 	<input name="zone.address.adminArea2" id="adminArea2" type="text" placeholder="Admin Area 2" th:placeholder="#{zone.address.adminArea2}"  th:field="*{address.adminArea2}" value="Madrid"/>
					</div>
				 	<div class="span3">
					 	<label th:text="#{zone.address.adminArea1}">Admin Area 1</label>
					 	<input name="zone.address.adminArea1" id="adminArea1" type="text" placeholder="Admin Area 1" th:placeholder="#{zone.address.adminArea1}" th:field="*{address.adminArea1}" value="Comunidad de Madrid"/>
					</div>
				</div>
			</fieldset>
			
			<fieldset>
				<legend th:text="#{zone.path}">Path</legend>
				<div class="alert alert-error" th:if="${#fields.hasErrors('path')}">
			  		<ul>
					  <li th:each="err : ${#fields.errors('path')}" th:text="#{${err}}">Input is incorrect</li>
					</ul>
		  		</div>
				<div class="item rounded dark">
					<div id="map_canvas" class="zoneMap rounded" 
						data-path="[[40.3549167507906,-3.8081359863281],[40.3004760797494,-3.6392211914062],[40.4406762626823,-3.7820434570312]]"
						data:path="${zone.pathArray}"></div>
				</div>
			</fieldset>	
	  		<hr/>
			<div class="well">
				<input type="submit" class="btn btn-primary saveButton" th:value="#{button.save}" value="Save" ></input>
	  		 	<a href="./zoneList.html" th:href="@{/admin/zone/}" th:text="#{button.cancel}">Cancel</a>
	  		 	<button class="btn btn-danger pull-right deleteButton"><i class="icon-remove icon-white"></i> <span th:text="#{button.delete}">Delete</span></button>
  		 	</div>
	  		
	  </form>  
	</div>
        
	<!-- footer -->
	<footer th:substituteby="fragments/template :: footerTag">
	    <hr/>
		<p>&copy; Spain.info</p>
	</footer>
	

	<div th:substituteby="fragments/template :: scripts" >
	    <!-- COMMON SCRIPTS -->
		<script src="../../../../resources/js/vendor/modernizr-2.6.2.js"></script>
	    <script src="../../../../resources/js/vendor/jquery-1.9.1.min.js"></script>
	    <script src="../../../../resources/js/vendor/bootstrap.js"></script>
	    <script src="../../../../resources/js/main.js"></script>
	</div>
	
	<div>
		<div th:remove="all"><!-- PAGE SCRIPTS --></div>
	
	    <script src="http://maps.googleapis.com/maps/api/js?libraries=drawing&amp;sensor=true" ></script>	
		<script src="../../../../resources/js/vendor/jquery-ui-1.9.2.custom.js" 	th:src="@{/resources/js/vendor/jquery-ui-1.9.2.custom.js}"></script>
		<script src="../../../../resources/js/vendor/jquery.ui.map.js"				th:src="@{/resources/js/vendor/jquery.ui.map.js}"></script>
				<script src="../../../../resources/js/vendor/jquery.ui.map.services.js" th:src="@{/resources/js/vendor/jquery.ui.map.services.js}"></script>
		<script src="../../../../resources/js/vendor/jquery.ui.map.extensions.js" th:src="@{/resources/js/vendor/jquery.ui.map.extensions.js}"></script>
		
	</div>
	
	<script>
	// <![CDATA[
	// 
   $(function(){
		
		var overlay;
		
		var latlng = new google.maps.LatLng(40.416957,-3.703794); // Madrid
		
		var map = $('#map_canvas').gmap('get','map');
		$('#map_canvas').gmap();
		map.panTo(latlng);
		map.setZoom(10);
		
		var drawingManager = new google.maps.drawing.DrawingManager({
			drawingMode: google.maps.drawing.OverlayType.POLYGON,
			drawingControl: true,
			drawingControlOptions: {
				position: google.maps.ControlPosition.TOP_CENTER,
				drawingModes: [
				  google.maps.drawing.OverlayType.POLYGON
				]
			},
			polygonOptions: {
			    editable:true
			}
		});
		drawingManager.setMap(map);
		google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
			// only one overlay is allowed
			overlay && overlay.setMap(null);
			overlay = event.overlay;
		});
		
		
		var dataPath = $("#map_canvas").data("path");
		if (dataPath && dataPath.length > 0){
			var pathCoords = [];
			var bounds = new google.maps.LatLngBounds();
			dataPath.forEach(function(elem){
				var coord =  new google.maps.LatLng(elem[0],elem[1]);
				pathCoords.push(coord);
				bounds.extend(coord);
			});
			overlay = new google.maps.Polygon({
				paths: pathCoords,
			});
			map.fitBounds(bounds);
			overlay.setMap(map);
			overlay.setEditable(true);
		}
		
		$(".saveButton").click(function(event){
			var form = $($(this).closest('form'));
			
			if (!overlay){
				return;
			}
			
		    var path = overlay.getPath().getArray();
		    for (i=0;i<path.length;i++){
		    	var step = path[i];
		    	$('<input>', {
		    		'type' : 'hidden',
		    		'name' : 'path[' + i + '].lat',
		    		'value': step.lat()
		    	}).appendTo($('#zoneForm'));
		    	$('<input>', {
		    		'type' : 'hidden',
		    		'name' : 'path[' + i + '].lng',
		    		'value': step.lng()
		    	}).appendTo($('#zoneForm'));
		    }
		});
		
		$('#map_canvas').gmap('autocomplete', 'gsearcher', function(ui) {
			addAddress(ui.item.position);
			map.setCenter(ui.item.position);
		});
	});
	
	// ]]>
	</script>
	
</body>
</html>
