<!DOCTYPE html>
<html>
<head th:substituteby="fragments/template :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Exporter</title>
    <link rel="stylesheet" href="../../../../resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../../resources/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="../../../../resources/css/ui-lightness/jquery-ui-1.9.2.custom.css"/>
	<link rel="stylesheet" href="../../../../resources/css/jquery.tagedit.css"/>
    <link rel="stylesheet" href="../../../../resources/css/main.css"/>
</head>

<body>

	<!--  Nav bar -->
	<div th:substituteby="fragments/template :: navTag" class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">OpenCatalog</a>
			</div>
		</div>
	</div>
    
    <!-- container -->    
	<div class="container">
	
		<div th:substituteby="fragments/template :: alert" />
			
		<h1 th:text="#{exporter.header}" >Exporter</h1>
		<form id="exporterForm" action="#" th:action="@{'/admin/exporter/'}" method="POST" >
		
		  <div id="table">
	    	<table class="table table-striped table-hover table-bordered" data:basePoiLink="@{'/admin/poi/'}"> 
					
			  <thead>
			    <tr>
			      <th><input type="checkbox" id="checkAll"  /></th>
			      <th th:text="#{poi.rows.head.name}">Name</th>
			      <th th:text="#{poi.rows.head.description}">Description</th>
			       <th th:text="#{poi.rows.head.adminArea2}">Admin Area 2</th>
			      <th th:text="#{poi.rows.head.adminArea1}">Admin Area 1</th>
			    </tr>
			  </thead>
			  <tfoot>
			  	<tr>
			  		<td colspan="5"><button type="button" class="btn btn-danger" id="deletePois"><i class="icon-trash icon-white"></i></button></td>
			  	</tr>
			  </tfoot>
			  <tbody>
			    <tr th:remove="all" >
			      <td><input type="checkbox" name="idPoi[1]" value="1" /></td>
			      <td>Roque Nublo</td>
			      <td>Situado en la isla de Gran Canaria ...</td>
			      <td>Tenerife</td>
			      <td>Canarias</td>
			     
			    </tr>
			    <tr th:remove="all"  >
			      <td><input type="checkbox" name="idPoi[[2]" value="2" /></td>
			      <td>Playa de las Teresitas</td>
			      <td>Situado en la isla de Tenerife ...</td>
			      <td>Tenrife</td>
			      <td>Canarias</td>
			     
			    </tr>
			  </tbody>
			 
			</table>
		</div>			
	
		<h2 th:text="#{exporter.addPois}">Add Pois</h2>
		<label th:text="#{exporter.zone}">Zone</label>
		<div class="input-append">
			  <input class="span2" data-provide="typeahead" name="zone" type="text" placeholder="Zone" data:url="@{/admin/exporter/zoneTypeahead}" />
			  <button class="btn poiBtn" type="button" data:url="@{/admin/exporter/zonePois}" ><i class="icon icon-plus"></i></button>
		</div>

		<label th:text="#{exporter.adminArea1}">Admin Area 1</label>
		<div class="input-append">
			  <input class="span2" data-provide="typeahead" name="adminArea1" type="text" placeholder="Area" data:url="@{/admin/exporter/area1Typeahead}"/>
			  <button class="btn poiBtn" type="button"  data:url="@{/admin/exporter/areaPois1}"><i class="icon icon-plus"></i></button>
		</div>
			
		<label th:text="#{exporter.adminArea2}">Admin Area 2</label>
		<div class="input-append">
			  <input class="span2" data-provide="typeahead" name="adminArea2" type="text" placeholder="Area" data:url="@{/admin/exporter/area2Typeahead}"/>
			  <button class="btn poiBtn" type="button"  data:url="@{/admin/exporter/areaPois2}"><i class="icon icon-plus"></i></button>
		</div>

		<label th:text="#{exporter.poi}">Point of Interest</label>
		<div class="input-append">
			  <input class="span2" name="poi" type="text" placeholder="Poi" data-provide="typeahead" data:url="@{/admin/exporter/poiTypeahead}" />
			  <button class="btn poiBtn" type="button"  data:url="@{/admin/exporter/poi}"><i class="icon icon-plus"></i></button>
		</div>
			
		<hr/>
		<h2 th:text="#{exporter.export}">Export</h2>
		
		<label th:text="#{exporter.name}">Name</label>
		<input name="name"  class="input-xxlarge"  type="text" placeholder="Enter name for the exported data" th:placeholder="#{exporter.name.placeholder}"/>
		  	
		
		<label th:text="#{exporter.to}">Export to</label>
			  	
		<select name="type">
			<option value="SQLITE" th:text="#{exporter.to.sqlite}">SQLite DB</option>
			<option value="JSON" th:text="#{exporter.to.json}">JSON File</option>
		</select>

	 	<hr/>
		
		<div class="well">
			<input type="submit" class="btn btn-primary saveButton" th:value="#{button.generate}" value="Generate" ></input>
 		 </div>
	  		
	  </form>  
	</div>
        
	<!-- footer -->
	<footer th:substituteby="fragments/template :: footerTag">
	    <hr/>
		<p>&copy; Spain.info</p>
	</footer>
	

	<div th:substituteby="fragments/template :: scripts" >
	    <!-- COMMON SCRIPTS -->
		<script src="../../../../resources/js/vendor/modernizr-2.6.2.js"></script>
	    <script src="../../../../resources/js/vendor/jquery-1.9.1.min.js"></script>
	    <script src="../../../../resources/js/vendor/bootstrap.js"></script>
	    <script src="../../../../resources/js/main.js"></script>
	</div>
	
	<script>
	// <![CDATA[
	// 
	var ids = [];

	$(function(){
		
		$('[data-provide="typeahead"]').typeahead({
			source : function(query, process) {
		        jQuery.ajax({
		            url : $(this.$element).data("url"),
		            type : 'GET',
		            data : {
		                "query" : query
		            },
		            dataType : 'json',
		            success : function(json) {
		                process(json.options);
		            }
		        });
		    }
		});
		// Añadimos POIs a la tabla
		$('.poiBtn').click(function(){
			var url = $(this).data("url");
			var input = $(this).prevAll("input[type=text]");
			var basePoiLink = $("table").data("basepoilink");
			var value = input.val();
			if (value.length > 3) {
				
				$.getJSON(url + '?q=' + encodeURIComponent(value), function(result) {
					 var pois = result.data;
					 $(pois).each(function(){
						var that = this;
						if ($.inArray(that.id, ids) < 0){
							ids.push(that.id);
							var poiURL = basePoiLink + that.id;
							var tr= $('<tr>').attr("data-id", that.id);
							var td1 = $('<td/>');
							var checkBox = $('<input/>').attr({ 
								'type' : 'checkbox'								
							});
							var hidden = $('<input/>').attr({ 
								'type' : 'hidden',
								'name' : 'idPoi', // [' + that.id + ']',
								'value' : that.id
							});
							
							checkBox.appendTo(td1);
							hidden.appendTo(td1);
							td1.appendTo(tr);
							$('<td>').text(that.name).click(function(){window.open(poiURL);}).appendTo(tr);
						    $('<td>').text(that.description).click(function(){window.open(poiURL);}).appendTo(tr);
						    $('<td>').text(that.area2).click(function(){window.open(poiURL);}).appendTo(tr);
						    $('<td>').text(that.area1).click(function(){window.open(poiURL);}).appendTo(tr);
							$(tr).appendTo('#table table tbody');
						}
						
					 });
				});
				
				input.val("");
			} 
		});
		

	});
	
		
	$('button#deletePois').click(function(){
		$('tbody input[type=checkbox]:checked').each(function(){
			var tr = $(this).closest("tr");
			var id = $(tr).data("id");
			$ids = $(ids);
			ids.splice( $.inArray(id, ids), 1 );
			tr.remove();
		});
		$("#checkAll").prop("checked", false);
	});
	// ]]>
	</script>
	
			
	
</body>
</html>
