<!DOCTYPE html>
<html>
<head th:substituteby="fragments/template :: headTag">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Points of interest</title>
	<link rel="stylesheet" href="../../../../resources/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../../../resources/css/bootstrap-responsive.min.css"/>
	<link rel="stylesheet" href="../../../../resources/css/ui-lightness/jquery-ui-1.9.2.custom.css"/>
	<link rel="stylesheet" href="../../../../resources/css/jquery.tagedit.css"/>
	<link rel="stylesheet" href="../../../../resources/css/main.css"/>
</head>

<body>

<div th:substituteby="fragments/template :: navTag" class="navbar navbar-inverse"><div class="navbar-inner"><div class="container">	<a class="brand" href="#">OpenCatalog</a></div></div></div>
   
<div class="container">
	
	<div th:substituteby="fragments/template :: alert">
		<div id="alerts">
			<div  class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<span>Info Message</span>
			</div>
  		</div>
  	</div>
  	
	
	<h1 th:text="#{'poiType.' + ${poi.type.id}}">Genérico</h1>

	<form id="poiForm" name="poiForm" action="#" th:action="@{'/admin/poi/' + ${poi.id?: 'new/' + poi.type.id }}" th:object="${poi}" method="POST" data:id="${poi.id?:''}" data-id="1" enctype="multipart/form-data">
		<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
		  	<ul >
			  <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
			</ul>
		</div>
		
		<input type="hidden" name="_method" value="POST" />
	
		<ul class="nav nav-tabs">
			<li class="active"><a href="#data" data-toggle="tab" th:text="#{poi.data}" >Data</a></li>
			<li th:if="${poi.id}"><a href="#images" data-toggle="tab" th:text="#{poi.images}">Images</a></li>
			<li><a href="#geo" data-toggle="tab" th:text="#{poi.location}">Location</a></li>
			<li><a href="#flags" data-toggle="tab" th:text="#{poi.tags}">Flags</a></li>
			<li><a href="#timetable" data-toggle="tab" th:text="#{poi.timetable}">Timetable</a></li>
			<li><a href="#prices" data-toggle="tab" th:text="#{poi.prices}">Prices</a></li>
			<li><a href="#contactInfo" data-toggle="tab" th:text="#{poi.contactInfo}">Contact Info</a></li>
			<li th:if="${poi.syncInfo.imported}" ><a href="#syncInfo" data-toggle="tab" th:text="#{poi.syncInfo}">Sync Info</a></li>
		</ul>
			
		<div class="tab-content">
			
				<!--  Data -->
				<div class="tab-pane active" id="data">
				 	
				 	<!--  name & description -->
				 	<div th:substituteby="fragments/poi/poiName :: poiNameDescriptionTag" >
				 			Dummy name and description
				 	</div>
				 	
				 	<!--  Score -->
				 	<div th:substituteby="fragments/poi/poiScore :: poiScoreTag" >
				 		<!--  dummy data -->
				 		<label>Score</label>
						<select>
							<option>--</option>
							<option>1 Star</option>
							<option>2 Star</option>
							<option>3 Star</option>
							<option>4 Star</option>
							<option>5 Star</option>
						</select>
					</div>
					
					
					<!--  custom Data -->
				 	<div th:substituteby="fragments/poi/poiData :: poiDataTag" >
				 		<legend>Data</legend>
						<label>label</label>
						<input type="text"/>
					</div>
				 </div>
				 
				 <!--  Images -->
				 <div class="tab-pane" id="images" th:if="${poi.id}">
					<div th:substituteby="fragments/poi/poiImages :: poiImagesTag" >
						<table class="table table-striped">
							<tr>
								<td>Some dummy images</td>
								<td>
									<div class ="item rounded dark poiImage">
										<img class="poiImageSmall" src="../../../../../resources/img/no_image.png" title="Poi image" />
									</div>
								</td>
							</tr>
						</table>
					</div>
				 </div>
				 
				<!--  Geolocation -->
			  	<div class="tab-pane" id="geo">
			  		<div th:substituteby="fragments/poi/poiLocation :: poiLocationTag" >
			  		  Poi location ...
			  		</div>
			  	</div>
			  	
				<!--  Flags -->
			  	<div class="tab-pane" id="flags">
				  	<div th:substituteby="fragments/poi/poiFlags :: poiFlags" >
				  		Some dummy flags...
				  	</div>
				</div>
				
				<!--  TimeTable -->
			  	<div class="tab-pane" id="timetable">
			  		<div th:substituteby="fragments/poi/poiTimeTable :: poiTimeTableTag" >
			  		  Poi timetable example
			  		 <input name="timetable" class="input-xxlarge" type="text" value="[0112-3103]=10:00-17:00" pattern="(((\[((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012]))-((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012]))\])|(((Mon|Tue|Wed|Thu|Fri|Sat|Sun)|((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])))(,((Mon|Tue|Wed|Thu|Fri|Sat|Sun)|((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012]))))*)|(\[((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012]))-((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012]))\])(((Mon|Tue|Wed|Thu|Fri|Sat|Sun)|((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])))(,((Mon|Tue|Wed|Thu|Fri|Sat|Sun)|((0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012]))))*))=((([01][0-9]|2[0-3]):[0-5][0-9]-([01][0-9]|2[0-3]):[0-5][0-9])(,(([01][0-9]|2[0-3]):[0-5][0-9]-([01][0-9]|2[0-3]):[0-5][0-9]))*?)?)?" />
			  		</div>
			  	</div>
				
				<!--  Prices -->
			  	<div class="tab-pane" id="prices">
			  		<div th:substituteby="fragments/poi/poiPrices :: poiPricesTag" >
			  		  Poi prices
			  		</div>
			  	</div>
			  	
			  <!--  Contact Info -->
			  	<div class="tab-pane" id="contactInfo">
			  		<div th:substituteby="fragments/poi/poiContactInfo :: poiContactInfoTag" >
			  		  Contact info
			  		</div>
			  	</div>			 
			  	
			  <!--  Sync Info -->
			  <div class="tab-pane" id="syncInfo" th:if="${poi.syncInfo.imported}" >
			  		<div th:substituteby="fragments/poi/poiSyncInfo :: poiSyncInfoTag" >
			  		  Sync info
			  		</div>
			  </div>			  						 							  		  	
		</div>
		
		<div class="timeTableExamples modal hide fade" th:substituteby="fragments/poi/poiTimeTable :: timeTableExamples"  tabindex="-1" >
			SomeExamples of Timetable (Hidden)
		</div>


  		<hr/>
		<div class="well">
		    <input type="submit" class="btn btn-primary saveButton" th:value="#{button.save}" value="Save" ></input>
  		 	<a href="./poiList.html" th:href="@{/admin/poi/}" th:text="#{button.cancel}">Cancel</a>
  		 	<button class="btn btn-danger pull-right deleteButton"><i class="icon-remove icon-white"></i> <span th:text="#{button.delete}">Delete</span></button>
 		</div>
  		 
	  		
	  </form>  
	</div>
        
	<!-- footer -->
	<footer th:substituteby="fragments/template :: footerTag">
	    <hr/>
		<p>&copy; Spain.info</p>
	</footer>
	

	<div th:substituteby="fragments/template :: scripts" >
	    <!-- COMMON SCRIPTS -->
		<script src="../../../../resources/js/vendor/modernizr-2.6.2.js"></script>
	    <script src="../../../../resources/js/vendor/jquery-1.9.1.min.js"></script>
	    <script src="../../../../resources/js/vendor/bootstrap.js"></script>
	    <script src="../../../../resources/js/main.js"></script>
	</div>
	
	<div>
		<div th:remove="all"><!-- PAGE SCRIPTS --></div>
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
		<script src="../../../../resources/js/vendor/jquery-ui-1.9.2.custom.js" th:src="@{/resources/js/vendor/jquery-ui-1.9.2.custom.js}"></script>
		<script src="../../../../resources/js/vendor/jquery.ui.map.js" th:src="@{/resources/js/vendor/jquery.ui.map.js}"></script>
		<script src="../../../../resources/js/vendor/jquery.ui.map.services.js" th:src="@{/resources/js/vendor/jquery.ui.map.services.js}"></script>
		<script src="../../../../resources/js/vendor/jquery.ui.map.extensions.js" th:src="@{/resources/js/vendor/jquery.ui.map.extensions.js}"></script>
		<script src="../../../../resources/js/poi-map.js" th:src="@{/resources/js/poi-map.js}"></script>
		<script src="../../../../resources/js/poi-timetable.js" th:src="@{/resources/js/poi-timetable.js}"></script>
		<script src="../../../../resources/js/poi-prices.js" th:src="@{/resources/js/poi-prices.js}"></script>
		<script src="../../../../resources/js/poi-data.js" th:src="@{/resources/js/poi-data.js}"></script>
	</div>
	
	<script>
	// <![CDATA[
	// 
	 $( function(){
		 
		 // check default Image
		 var defaultImage = $('input:radio[name="defaultImageFilename"]:checked')[0];
		 var firstImage = $('input:radio[name="defaultImageFilename"]')[0];
		 if (! defaultImage && firstImage){
			 $(firstImage).attr('checked', 'checked')
		 }
		 
		 
		// delete button
		$("button.deleteButton").click(function(){
			var form = $($(this).closest('form'));
			var action = form.attr("action")
			form.attr("action", action + "/delete")
			
			// disble required for submit
			$('[required]', form).each(function(){
				$(this).removeAttr("required");
			});
		}); 
		 
	 })
	// ]]>
	</script>
		
	
</body>
</html>
