<!DOCTYPE html>
<html>
<head th:substituteby="fragments/template :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Points of interest</title>
    <link rel="stylesheet" href="../../../../resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../../resources/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="../../../../resources/css/ui-lightness/jquery-ui-1.9.2.custom.css"/>
	<link rel="stylesheet" href="../../../../resources/css/jquery.tagedit.css"/>
    <link rel="stylesheet" href="../../../../resources/css/main.css"/>
</head>

<body>

	<!--  Nav bar -->
	<div th:substituteby="fragments/template :: navTag" class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">OpenCatalog</a>
			</div>
		</div>
	</div>
    
    <!-- container -->    
	<div class="container">
	
		<div th:substituteby="fragments/template :: alert" />
			
		<h1 th:text="#{poi.header}" >Point of Interest</h1>
		
		<form id="poiForm" action="#" th:action="@{'/admin/poi/' + ${poi.id?:''}}" th:object="${poi}" method="POST" data:id="${poi.id?:''}" data-id="1">
		 	<input th:if="${poi.id}" type="hidden" name="_method" value="PUT" />
		 	
				<ul class="nav nav-tabs">
					<li class="active"><a href="#es" data-toggle="tab" th:text="#{lang.es}">Spanish</a></li>
					<li><a href="#en" data-toggle="tab" th:text="#{lang.en}">English</a></li>
					<li><a href="#fr" data-toggle="tab" th:text="#{lang.fr}">French</a></li>
					<li><a href="#de" data-toggle="tab" th:text="#{lang.de}">German</a></li>
					<li><a href="#it" data-toggle="tab" th:text="#{lang.it}">Italian</a></li>
				</ul>
				
				<div class="tab-content">
					<div class="tab-pane active" id="es">
						<label th:text="#{poi.name.es}">Name (ES)</label>
				  		<input name="name.es" type="text" th:field="*{name.es}" placeholder="Enter poi name (spanish)" th:placeholder="#{poi.name.es.placeholder}" required="required"/>
				  		<div class="alert alert-error" th:if="${#fields.hasErrors('name')}">
					  		<ul>
							  <li th:each="err : ${#fields.errors('name')}" th:text="#{${err}}">Input is incorrect</li>
							</ul>
				  		</div>
			  			
			  			<label th:text="#{poi.description.es}">Description	 (ES)</label>
			  			<textarea name="description.es" class="input-xxlarge" cols="80" th:field="*{description.es}" placeholder="Enter poi description (spanish)" th:placeholder="#{poi.description.es.placeholder}" required="required" ></textarea>
			  			<div class="alert alert-error" th:if="${#fields.hasErrors('description')}">
					  		<ul>
							  <li th:each="err : ${#fields.errors('description')}" th:text="#{${err}}">Input is incorrect</li>
							</ul>
				  		</div>
			  		</div>
			  		<div class="tab-pane" id="en">
						<label th:text="#{poi.name.en}">Name (EN)</label>
				  		<input name="name.en" type="text" th:field="*{name.en}" placeholder="Enter poi name (english)" th:placeholder="#{poi.name.en.placeholder}"/>
			  			
			  			<label th:text="#{poi.description.en}">Description	 (EN)</label>
			  			<textarea name="description.en" class="input-xxlarge" cols="80" th:field="*{description.en}" placeholder="Enter poi description (english)" th:placeholder="#{poi.description.en.placeholder}"></textarea>
			  		</div>
			  		<div class="tab-pane" id="fr">
						<label th:text="#{poi.name.fr}">Name (FR)</label>
				  		<input name="name.fr" type="text" th:field="*{name.fr}" placeholder="Enter poi name (french)" th:placeholder="#{poi.name.fr.placeholder}"/>
			  			
			  			<label th:text="#{poi.description.fr}">Description	 (FR)</label>
			  			<textarea  name="description.fr" class="input-xxlarge" cols="80" th:field="*{description.fr}" placeholder="Enter poi description (french)" th:placeholder="#{poi.description.fr.placeholder}"></textarea>
			  		</div>
			  		<div class="tab-pane" id="de">
						<label th:text="#{poi.name.de}">Name (DE)</label>
				  		<input name="name.de" type="text" th:field="*{name.de}" placeholder="Enter poi name (german)" th:placeholder="#{poi.name.de.placeholder}"/>
			  			
			  			<label th:text="#{poi.description.de}">Description	 (DE)</label>
			  			<textarea name="description.de" class="input-xxlarge" cols="80" th:field="*{description.de}" placeholder="Enter poi description (german)" th:placeholder="#{poi.description.es.placeholder}"></textarea>
			  		</div>
			  		<div class="tab-pane" id="it">
						<label th:text="#{poi.name.it}">Name (IT)</label>
				  		<input name="name.it" type="text" th:field="*{name.it}" placeholder="Enter poi name (italian)" th:placeholder="#{poi.name.it.placeholder}"/>
			  			
			  			<label th:text="#{poi.description.it}">Description	 (IT)</label>
			  			<textarea name="description.it" class="input-xxlarge" cols="80" th:field="*{description.it}" placeholder="Enter poi description (italian)" th:placeholder="#{poi.description.it.placeholder}" ></textarea>
			  		</div>
				</div>
				
				<div>
					<fieldset>
						<legend th:text="#{poi.coord}">Coordinates</legend>
						
						<label th:text="#{poi.coord.lat}">Latitude</label>
					 	<input name="location.lat" type="number" step="any" readonly="readonly" placeholder="Latitude"  th:placeholder="#{poi.coord.lat}" th:field="*{location.lat}" value="40.402" />
					 	
					 	<label th:text="#{poi.coord.lng}">Longitude</label>
					 	<input name="location.lng" type="number" step="any" readonly="readonly" placeholder="Longitude" th:placeholder="#{poi.coord.lng}" th:field="*{location.lng}" value="-3.233"/>
	
						<div id="map_canvas" class="map rounded" data-coord=" 40.416957,-3.703794" data:coord="${poi.location.lat + ',' + poi.location.lng}"></div>
						<div id="dialog"></div>
						
					</fieldset>					 	

					<fieldset>
						<legend th:text="#{poi.address}">Address</legend>
						<label th:text="#{poi.address.route}">Route</label>
					 	<input name="address.route" type="text" placeholder="route" th:placeholder="#{poi.address.route}" th:value="*{address.route}" value="C/Unknowed 32"/>
					 	<label th:text="#{poi.address.city}">City</label>
					 	<input name="address.city" type="text" placeholder="city" th:placeholder="#{poi.address.city}" th:value="*{address.city}" value="Madrid"/>
					 	<label th:text="#{poi.address.zipCode}">ZipCode</label>
					 	
					 	<input name="address.zipCode" type="text" placeholder="zip code" th:placeholder="#{poi.address.zipCode}" th:value="*{address.zipCode}" value="28000"/>
					</fieldset>

				</div>
				
				
				<legend th:text="#{poi.tags}">Tags</legend>
				<div id="tags" >
					<input th:each="tag : ${poi.tagsInfo}" type="text" name="tag[]" th:name="${'tag[' + tag.id + ']'}" th:value="#{'tags.' + ${tag.key}}"  class="tag"/>
					<input type="text" name="tag[3-a]" value="Lodging/Hotel" class="tag" th:remove="all"/>
					<input type="text" name="tag[]" class="tag"/>
				</div>
	  
			<div class="well">
				<input type="submit" class="btn btn-primary saveButton" th:value="#{button.save}" value="Save" ></input>
	  		 	<a href="./poiList.html" th:href="@{/admin/poi/}" th:text="#{button.cancel}">Cancel</a>
	  		 	<button class="btn btn-danger pull-right deleteButton"><i class="icon-remove icon-white"></i> <span th:text="#{button.delete}">Delete</span></button>
  		 	</div>
	  		
	  </form>  
	</div>
        
	<!-- footer -->
	<footer th:substituteby="fragments/template :: footerTag">
	    <hr/>
		<p>&copy; Spain.info</p>
	</footer>
	

	<div th:substituteby="fragments/template :: scripts" >
	    <!-- COMMON SCRIPTS -->
		<script src="../../../../resources/js/vendor/modernizr-2.6.2.js"></script>
	    <script src="../../../../resources/js/vendor/jquery-1.9.1.min.js"></script>
	    <script src="../../../../resources/js/vendor/bootstrap.js"></script>
	    <script src="../../../../resources/js/main.js"></script>
	</div>
	
	<div>
		<div th:remove="all"><!-- PAGE SCRIPTS --></div>
		<script src="http://maps.google.com/maps/api/js?sensor=true" ></script>
	    <script src="../../../../resources/js/vendor/jquery-ui-1.9.2.custom.js" th:src="@{/resources/js/vendor/jquery-ui-1.9.2.custom.js}"></script>
	    <script src="../../../../resources/js/vendor/jquery.tagedit.js"         th:src="@{/resources/js/vendor/jquery.tagedit.js}"></script>
	    <script src="../../../../resources/js/vendor/jquery.autoGrowInput.js"   th:src="@{/resources/js/vendor/jquery.autoGrowInput.js}"></script>
		<script src="../../../../resources/js/vendor/jquery.ui.map.full.min.js" th:src="@{/resources/js/vendor/jquery.ui.map.full.min.js}"></script>
		 
	</div>
	
	<div th:substituteby="fragments/template :: tags">
		<script>
			$(function(){
				
				var tags = [{"id":"lodging", 			"label":"Lodging", 				"value":"Lodging"},
				            {"id":"lodging.apartment", 	"label":"Lodging/Apartment", 	"value":"Lodging/Apartment"},
				            {"id":"lodging.camping", 	"label":"Lodging/Camping", 		"value":"Lodging/Camping"},
				            {"id":"lodging.hotel", 		"label":"Lodging/Hotel", 		"value":"Lodging/Hotel"},
				           ];
				
			 	$('input.tag').tagedit({
			 		allowEdit: false,
			 		autocompleteOptions: {
						source: tags
					}
				});
			 	
			});
		</script>
	</div>
			
	<script>
	
		$(function(){
			var map = $('#map_canvas'); 
		 	map.gmap({ 
		 		'center': map.data("coord"),
		 		'zoom': 17,
		 		'callback':function() {
		 	        var self = this;
		 	        self.addMarker({ 
		 	        	'position':  map.data("coord"), 
		 	        });                                                                                                                                                                                                                               
		 		}
		 	}).bind('init', function (event, map) { 
				$(map).click( function(event) {
					var $map = $('#map_canvas'); 
					$map.gmap("clear","markers");
					$map.gmap("addMarker", { 'position' : event.latLng});
					$('input[name="location.lat"]').val(event.latLng.lat());
					$('input[name="location.lng"]').val(event.latLng.lng());
					
					$map.gmap('search', {'location': event.latLng}, function(results, status) {
						if ( status === 'OK' ) {
							
							var street_number = '';
							var route = '';
							var area = ''
							
							$.each(results[0].address_components, function(i,v) {
								if ( v.types[0] == "administrative_area_level_1" ) {
									if (!area) {
										area = v.long_name;
									}
								} else if ( v.types[0] == "administrative_area_level_2" ) {
									area = v.long_name;
								} else if ( v.types[0] == "route") {
									route = v.long_name;
								} else if ( v.types[0] == "street_number") {
									street_number = ', ' + v.long_name;
								} else if ( v.types[0] == "postal_code") {
									$('[name="address.zipCode"]').val(v.long_name);
								}
							});
							$('[name="address.route"]').val(route + street_number);
							$('[name="address.city"]').val(area);
							
						}	
					});

				});
			});
		});
		
	</script>
	
</body>
</html>
