.collectionview {
  width: 100%;
  margin: auto;
  line-height: @rowHeight - 10px;
  & > .row {
    height: @rowHeight;
    border-top: 1px solid #aaa;
    &:first-child {
      border-top: none;
    }
    .cols-mixin();
  }
}

.cols-mixin() {
  & > .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4,
  .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8,
  .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    line-height: @rowHeight;
  }
}



/* menuview */
.poiCount {
  color: #777;
}