@rowHeight: 70px;
@rowFontSize: 50px;


* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

body {
  margin: 0;
  font-size: 20px;
  font-family: 'Open Sans', 'sans';
  background-color: #fcfefe;
}

a, a:focus, a:hover, a:active, a:visited {
  color: black;
  text-decoration: none;
  outline: none;
}

.homeview, .menuview, .poiview, .poisview {
  padding-top: @rowHeight;
}