@rowHeight: 70px;
@topbarHeight: 60px;

@baseFontSize: 18px;
@baseLineHeight: 23px;

@titleFontSize: 20px;
@titleLineHeight: 25px;

@smallFontSize: 15px;
@smallLineHeight: 25px;

@largeFontSize: 25px;
@largeLineHeight: 30px;

@lightGrey: #eee;

// .clearFix incluido en Bootstrap (grid.less)

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

.small {
  font-size: @smallFontSize;
  line-height: @smallLineHeight;
}
.large {
  font-size: @largeFontSize;
  line-height: @largeLineHeight;
}

body {
  margin: 0;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  font-family: 'Open Sans', 'sans';
  background-color: #fcfefe;
}

h1, .titlesize {
  font-size: @titleFontSize;
  line-height: @titleLineHeight;
}

a, a:focus, a:hover, a:active, a:visited {
  color: black;
  text-decoration: none;
  outline: none;
}

.homeview, .menuview, .poiview, .poisview {
  padding-top: @topbarHeight;
}

.app-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*
  Bug en Android: la topbar no recibe bien los touchevents si esto está activado siempre
*/
// // Dispara la GPU
// .pageview {
//   -webkit-transform: translateZ(0);
//   -webkit-perspective: 1000;
//   -webkit-backface-visibility: hidden;
// }

.animating-views > .pageview {
  -webkit-transition: left .2s;
}

.invisible {
  visibility: hidden !important;
}

.hide {
  display: none !important;
}

.hideable {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.uncovered {
    white-space: normal;
  }
}