@rowHeight: 70px;
@topbarHeight: 60px;

@baseFontSize: 18px;
@baseLineHeight: 23px;

@titleFontSize: 20px;
@titleLineHeight: 25px;

@smallFontSize: 15px;
@smallLineHeight: 25px;

@largeFontSize: 25px;
@largeLineHeight: 30px;

@appContainerPadding: 15px;

@lightGrey: #eee;

@activeColor: #E6DFBE;

@topbarBg: #444;


// .clearFix incluido en Bootstrap (grid.less)

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

.small {
  font-size: @smallFontSize;
  line-height: @smallLineHeight;
}
.large {
  font-size: @largeFontSize;
  line-height: @largeLineHeight;
}

body {
  margin: 0;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  font-family: 'Open Sans', 'sans';
  background-color: #fcfefe;
}

h1, .titlesize {
  font-size: @titleFontSize;
  line-height: @titleLineHeight;
}

a, a:focus, a:hover, a:active, a:visited {
  color: black;
  text-decoration: none;
  outline: none;
}

.pageview {
  padding-top: @topbarHeight;
}

.app-container {
  padding-top: @appContainerPadding;
  padding-bottom: @appContainerPadding;
}

/*
  Bug en Android: la topbar no recibe bien los touchevents si esto está activado siempre
*/
// // Dispara la GPU
// .pageview {
//   -webkit-transform: translateZ(0);
//   -webkit-perspective: 1000;
//   -webkit-backface-visibility: hidden;
// }

.animating-views > .pageview {
  -webkit-transition: left .3s;
}

.invisible {
  visibility: hidden !important;
}

.hide {
  display: none !important;
}

// Esta clase es para distinguir elementos que cambian durante un 'tap'
// El cambio *debe* hacerse con una transición
.activable {
}

// Esta clase induce el cambio de estilo de los '.activable'
.activable.active {
}

.hideable {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.uncovered {
    white-space: normal;
  }
}

.checkbox-wrapper {
  display: inline-block;
  position: relative;
}

[type="checkbox"] {
  display: none;
  @checkboxSize: 14px;
  & + .fake-checkbox {

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    display: inline-block;
    width: @checkboxSize;
    height: @checkboxSize;

    line-height: @checkboxSize;

    border: 2px solid #444;
    border-radius: 2px;

    vertical-align: middle;
    margin-right: 2px;
  }
  &:checked + .fake-checkbox:after {
    content: '';
    height: 6px;
    width: 10px;
    border: 4px solid #000;
    border-right: none;
    border-top: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 5px;
  }
}