.redefineFonts(
    @baseFontSize, @baseLineHeight,
    @titleFontSize, @titleLineHeight,
    @smallFontSize, @smallLineHeight,
    @largeFontSize, @largeLineHeight
  ) {
  body {
    font-size: @baseFontSize;
    line-height: @baseLineHeight;
  }
  h1, .titlesize {
    font-size: @titleFontSize;
    line-height: @titleLineHeight;
  }
  .small {
    font-size: @smallFontSize;
    line-height: @smallLineHeight;
  }
  .large {
    font-size: @largeFontSize;
    line-height: @largeLineHeight;
  }

  .titlebar .icon-map {
    font-size: @largeFontSize;
  }
  .star {
    font-size: (@baseFontSize+@smallFontSize);
    line-height: (@baseLineHeight+@smallLineHeight);
  }
}

@media (max-width: 320px) {
  @baseFontSize: 17px;
  @baseLineHeight: 22px;

  @titleFontSize: 18px;
  @titleLineHeight: 23px;

  @largeFontSize: 22px;
  @largeLineHeight: 27px;

  @smallFontSize: 13px;
  @smallLineHeight: 18px;

  .redefineFonts(
      @baseFontSize, @baseLineHeight,
      @titleFontSize, @titleLineHeight,
      @smallFontSize, @smallLineHeight,
      @largeFontSize, @largeLineHeight
    )
}