<!doctype html>
<html>
<head>

</head>
<body>


  <script src="test.js"></script>
  <script src="../js/lib/require.js"></script>
  <script>
    require.config({
      callback: function() {
        require(['poi/model', 'poi/collectionview'],
          function(Model, CollectionView) {
            var collection = [];
            _.times(10, function(i) {
              collection.push(
                new Model({
                  name: 'foobar',
                  id: i,
                  thumb: 
                  'data: image/bmp;base64,Qk0WAQAAAAAAADYAAAAoAAAACgAAAAcAAAABABgAAAAAAOAAAAATCwAAEwsAAAAAAAAAAAAA++/r8+Le7d7Z+PDv2drbkJCWe3eAqJ6ftqil08fFAAD98fD05eDt3tr28O+ssb88SWYkNVRaZn3b29789vYAAPfq6u3d3erc2vTv75mit0thizBKdS9EapuhsPnz8gAAzr3Xx7jL28/S8ujnoam9U2qRQV2GL0RnVFxv49vbAAB/dMGHfLXDuMTy5+TDx9VogKZWbpI5RVVQU1ja0dEAAHFnrXNqpq2isOrh3+zr7aKswW14jGVobpyYmdzPzQAAinumgnWiqp+o39PO8OTi08zMtK6uwbe11cjEw7ayAAA='
                })
              );
            });
            var collectionView = new CollectionView({
              collection: collection
            });
            $('body').append(collectionView.render().$el);
        });
      }
    });
  </script>
  <script>

  </script>
</body>
</html>