<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Points of interest</title>
	<link rel="stylesheet" href="../../../../../resources/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../../../../resources/css/bootstrap-responsive.min.css"/>
	<link rel="stylesheet" href="../../../../../resources/css/ui-lightness/jquery-ui-1.9.2.custom.css"/>
	
	<link rel="stylesheet" href="../../../../../resources/css/main.css"/>
	<script src="../../../../../resources/js/vendor/modernizr-2.6.2.js"></script>
	<script src="../../../../../resources/js/vendor/jquery-1.9.1.min.js"></script>
	<script src="../../../../../resources/js/vendor/bootstrap.js"></script>
</head>

<body>
<!--  Nav bar -->
<div class="navbar navbar-inverse"><div class="navbar-inner"><div class="container"><a class="brand" href="#">OpenCatalog</a></div></div></div>

<div class="container">
  
	<!-- 
		Poi timeTable
	-->      
	<div th:fragment="poiPricesTag" 
		th:with="isLodging = ${poi.poiType.id.toString() == 'HOTEL' || poi.poiType.id.toString() == 'APARTMENT' || poi.poiType.id.toString() == 'CAMPING'}"  >
		
		<div th:if="${!isLodging}"  th:remove="tag">
			<div th:substituteby="admin/poi/fragments/poiPricesBasic :: poiPricesTag">Basic Poi prices</div>
		</div>
		<div th:if="${isLodging}"  th:remove="tag">
			<div th:substituteby="admin/poi/fragments/poiPricesLodging :: poiPricesTag">Lodging Poi prices</div>
		</div>
	</div>	
</div>
</body>
</html>




