<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Points of interest</title>
	<link rel="stylesheet" href="../../../../../resources/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../../../../resources/css/bootstrap-responsive.min.css"/>
	<link rel="stylesheet" href="../../../../../resources/css/ui-lightness/jquery-ui-1.9.2.custom.css"/>
	
	<link rel="stylesheet" href="../../../../../resources/css/main.css"/>
	<script src="../../../../../resources/js/vendor/modernizr-2.6.2.js"></script>
	<script src="../../../../../resources/js/vendor/jquery-1.9.1.min.js"></script>
	<script src="../../../../../resources/js/vendor/bootstrap.js"></script>
</head>

<body>
<!--  Nav bar -->
<div class="navbar navbar-inverse"><div class="navbar-inner"><div class="container"><a class="brand" href="#">OpenCatalog</a></div></div></div>

<div class="container">
  
	<!-- 
		Poi timeTable
	-->      
	<div th:fragment="poiPricesTag">
	
		<table class="table table-striped table-bordered prices" data:pattern="${T(info.spain.opencatalog.domain.poi.TimeTableEntry).PERIOD_REGEX}" data-pattern="aaa">
			<thead>
				<tr>
					<th th:text="#{poi.price.price}">Price</th>
					<!-- 
					<th><span th:text="#{poi.timetable.period}">Period</span> <a href="#timeTableExamples" role="button" data-toggle="modal" th:title="#{button.help}"><i class="icon-question-sign"></i></a></th>
					 -->
					<th th:text="#{poi.price.observations}">Observations</th>
					<th th:text="#{poi.timetable.period.delete}">Delete</th>
				</tr>	
			</thead>
			<tbody>
				<tr th:each="entry,iter: ${poi.prices}">
					<td>
						<!--  price -->
						<label th:text="#{poi.price.price}">Precio</label>
						<input type="number" required="required" step="any"
							class="price input-xlarge"
							th:field="*{prices[__${iter.index}__].price}"
							name="prices[0].price"
							value="100.12"  
						 />
						
						<!--  priceType -->
						<label th:text="#{poi.price.priceType}">Tipo</label>
						<select name="prices[0].priceType" th:field="*{prices[__${iter.index}__].priceType}" class="priceType input-xlarge">
							<option 
								th:each="type: ${T(info.spain.opencatalog.domain.poi.PriceType).values()}"
								th:value="${type}"
								th:text="#{${ 'priceType.' + type}}"> Option1 </option>
						</select>
						
						<!--  Period -->
						<label><span th:text="#{poi.timetable.period}">Period</span> <a href="#timeTableExamples" role="button" data-toggle="modal" th:title="#{button.help}"><i class="icon-question-sign"></i></a></label>
						<input type="text" class="input-xlarge period" th:field="*{prices[__${iter.index}__].timeTable.period}" name="prices[0].timeTable.period" th:pattern="${T(info.spain.opencatalog.domain.poi.TimeTableEntry).PERIOD_REGEX}"/>
						<div th:if="${#fields.hasErrors('prices['+__${iter.index}__ + '].timeTable.period')}" class="alert alert-error" th:text="#{timetable.error.invalidFormat}">Invalid format</div>
					</td>
					
					
					<td>
						<ul class="nav nav-pills nav-stacked" >
							<li class="active"><a href="#price-es-0" th:href="${'#price-es-' +  __${iter.index}__}" data-toggle="tab" th:text="#{lang.es}">Spanish</a></li>
							<li><a href="#price-en-0" th:href="${'#price-en-' +  __${iter.index}__}" data-toggle="tab" th:text="#{lang.en}">English</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="price-es-0" th:id="${'price-es-' +  __${iter.index}__}" >
								<textarea  class="priceObservation es" th:field="*{prices[__${iter.index}__].observations.es}" name="prices[0].observations.es" >Observaciones del precio ...</textarea>
					  		</div>
					  		<div class="tab-pane" id="price-en-0" th:id="${'price-en-' +  __${iter.index}__}" >
								<textarea  class="priceObservation en"  th:field="*{prices[__${iter.index}__].observations.en}" name="prices[0].observations.en" >Price observations</textarea>
					  		</div>
					  	</div>
					</td>
					
					<td>
						<!--  Delete -->
						<a href="#" class="btn btn-danger removePrice"><i class="icon-trash icon-white" ></i></a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6">
					<button class="btn addPrice" href="#">Añadir</button>
					</td>
				</tr>
				<!--  this is row is for templating purpose -->
				<tr class="rowTemplate">
					
				
					<td>
						<!--  price -->
						<label th:text="#{poi.price.price}">Precio</label>
						<input  name="price" type="number" step="any" required="required" disabled="disabled" class=" price input-xlarge"/>
						
						<!--  priceType -->
						<label th:text="#{poi.price.priceType}">Tipo</label>
						<select name="prices1.priceType"  disabled="disabled" class="priceType input-xlarge">
							<option 
								th:each="type: ${T(info.spain.opencatalog.domain.poi.PriceType).values()}"
								th:value="${type}"
								th:text="#{${ 'priceType.' + type}}">Option1</option>
						</select>
						
						<!--  Period -->
						<label><span th:text="#{poi.timetable.period}">Period</span> <a href="#timeTableExamples" role="button" data-toggle="modal" th:title="#{button.help}"><i class="icon-question-sign"></i></a></label>
						<input type="text"  class="input-xlarge period" th:pattern="${T(info.spain.opencatalog.domain.poi.TimeTableEntry).PERIOD_REGEX}"  disabled="disabled"/>
					</td>
					
					
					<td>
						<ul class="nav nav-pills nav-stacked" >
							<li class="active"><a href="#price-es-" data-toggle="tab" th:text="#{lang.es}">Spanish</a></li>
							<li><a href="#price-en-" data-toggle="tab" th:text="#{lang.en}">English</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="price-es-" >
								<textarea class="priceObservation es" disabled="disabled" name="observations.en"></textarea>
					  		</div>
					  		<div class="tab-pane" id="price-en-">
								<textarea class="priceObservation en" disabled="disabled" name="observations.en"></textarea>
					  		</div>
					  	</div>
					</td>
					
					<td>
						<!--  Delete -->
						<a href="#" class="btn btn-danger removePrice"><i class="icon-trash icon-white" ></i></a>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div id="timeTableExamples" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Examples:</h3>
		  </div>
		  <div class="modal-body">
			  <div class="example">
				<span>regex</span>
				<p>description</p>
				<hr/>
			</div>
		   
		  </div>
		
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true" th:text="#{button.close}">Close</button>
		  </div>
		
	</div>
	
	
	<script src="../../../../../resources/js/poi/poi-prices.js"></script>	
	
</div>
</body>
</html>




