<!DOCTYPE html>
<html>
<head th:substituteby="fragments/template :: headTag">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Points of interest</title>
	<link rel="stylesheet" href="../../../resources/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../../resources/css/bootstrap-responsive.min.css"/>
	<link rel="stylesheet" href="../../../resources/css/ui-lightness/jquery-ui-1.9.2.custom.css"/>
	<link rel="stylesheet" href="../../../resources/css/main.css"/>
</head>

<body>

<div th:substituteby="fragments/template :: navTag" class="navbar navbar-inverse"><div class="navbar-inner"><div class="container">	<a class="brand" href="#">OpenCatalog</a></div></div></div>
   
<div class="container">
	
	<div th:substituteby="fragments/template :: alert">
		<div id="alerts">
			<div  class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<span>Info Message</span>
			</div>
  		</div>
  	</div>
  	
	
	<h1 th:text="#{'poiType.' + ${poi.poiType.id}}">Genérico</h1>

	<ul class="nav nav-tabs">
		<li class="active"><a href="#data" data-toggle="tab" th:text="#{poi.data}" >Data</a></li>
		<li th:if="${poi.id}"><a href="#images" data-toggle="tab" th:text="#{poi.images}">Images</a></li>
		<li><a href="#geo" data-toggle="tab" th:text="#{poi.location}">Location</a></li>
		<li><a href="#flags" data-toggle="tab" th:text="#{poi.tags}">Flags</a></li>
		<li><a href="#timetable" data-toggle="tab" th:text="#{poi.timetable}">Timetable</a></li>
		<li><a href="#prices" data-toggle="tab" th:text="#{poi.prices}">Prices</a></li>
		<li><a href="#contactInfo" data-toggle="tab" th:text="#{poi.contactInfo}">Contact Info</a></li>
		<li th:if="${poi.syncInfo.imported}" ><a href="#syncInfo" data-toggle="tab" th:text="#{poi.syncInfo}">Sync Info</a></li>
	</ul>
			
		<div class="tab-content">
			
				<!--  Data -->
				<div class="tab-pane active" id="data">
				 	
				 	<!--  name & description -->
				 	<div th:substituteby="poi/fragments/poiName :: poiNameDescriptionTag" >
				 			Dummy name and description
				 	</div>
				 	
				 	<!--  Score -->
				 	<div th:if="${poi.score}">
				 		<legend  th:text="#{poi.score}">Score</legend>
						<span th:text="#{'poi.score.' + ${poi.score}}" >3 stars</span>
					</div>
					
					<!--  custom Data -->
				 	<div th:substituteby="poi/fragments/poiData :: poiDataTag" >
				 		<legend>Data</legend>
						<label>label</label>
						<input type="text"/>
					</div>				
				 </div>
				 
				 <!-- images -->
				 <div class="tab-pane" id="images" th:if="${poi.id}">
					<div th:substituteby="poi/fragments/poiImages :: poiImagesTag" >
						<table class="table table-striped">
							<tr>
								<td>Some dummy images</td>
								<td>
									<div class ="item rounded dark poiImage">
										<img class="poiImageSmall" src="../../../resources/img/no_image.png" title="Poi image" />
									</div>
								</td>
							</tr>
						</table>
					</div>
				 </div>
				 
				<!--  Geolocation -->
			  	<div class="tab-pane" id="geo">
			  		<div th:substituteby="poi/fragments/poiLocation :: poiLocationTag" >
			  		  Poi location ...
			  		</div>
			  	</div>
			  	
			  	<!--  Flags -->
			  	<div class="tab-pane" id="flags">
				  	<div th:substituteby="poi/fragments/poiFlags :: poiFlags" >
				  		Some dummy flags...
				  	</div>
				</div>
				
				<!--  TimeTable -->
			  	<div class="tab-pane" id="timetable">
			  		<div th:substituteby="poi/fragments/poiTimeTable :: poiTimeTableTag" >
			  		  Poi timetable example
			  		</div>
			  	</div>
			  	
			  	<!--  Prices -->
			  	<div class="tab-pane" id="prices">
			  		<div th:substituteby="poi/fragments/poiPrices :: poiPricesTag" >
			  		  Poi prices
			  		</div>
			  	</div>
			  	
			  	<!--  Contact Info -->
			  	<div class="tab-pane" id="contactInfo">
			  		<div th:substituteby="poi/fragments/poiContactInfo :: poiContactInfoTag" >
			  		  Contact info
			  		</div>
			  	</div>			 
	  						 							  		  	
		</div>
		
		<div class="timeTableExamples modal hide fade" th:substituteby="admin/poi/fragments/poiTimeTable :: timeTableExamples"  tabindex="-1" >
			SomeExamples of Timetable (Hidden)
		</div>
		
		
		
			<hr/> 
			<div class="well"  sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')" >
			    <a class="btn btn-primary" href="../admin/poi.html" th:href="@{'/admin/poi/' + ${poi.id}}" th:text="#{button.edit}">Edit</a>
	 		</div>
	  		
	
	</div>
        
	<!-- footer -->
	<footer th:substituteby="fragments/template :: footerTag">
	    <hr/>
		<p>&copy; Spain.info</p>
	</footer>
	

	<div th:substituteby="fragments/template :: scripts" >
	    <!-- COMMON SCRIPTS -->
		<script src="../../../resources/js/vendor/modernizr-2.6.2.js"></script>
	    <script src="../../../resources/js/vendor/jquery-1.9.1.min.js"></script>
	    <script src="../../../resources/js/vendor/bootstrap.js"></script>
	    <script src="../../../resources/js/main.js"></script>
	</div>
	
	<div>
		<div th:remove="all"><!-- PAGE SCRIPTS --></div>
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
		<script src="../../../resources/js/vendor/jquery-ui-1.9.2.custom.js" th:src="@{/resources/js/vendor/jquery-ui-1.9.2.custom.js}"></script>
		<script src="../../../resources/js/vendor/jquery.ui.map.js" th:src="@{/resources/js/vendor/jquery.ui.map.js}"></script>
		<script src="../../../resources/js/vendor/jquery.ui.map.services.js" th:src="@{/resources/js/vendor/jquery.ui.map.services.js}"></script>
		<script src="../../../resources/js/vendor/jquery.ui.map.extensions.js" th:src="@{/resources/js/vendor/jquery.ui.map.extensions.js}"></script>
		<script src="../../../resources/js/poi/poi-map.js" th:src="@{/resources/js/poi/poi-map.js}"></script>
		<script src="../../../resources/js/poi/poi-data.js" th:src="@{/resources/js/poi/poi-data.js}"></script>
	</div>
	
		
	
</body>
</html>
