<!DOCTYPE html>
<html>
<head th:substituteby="fragments/template :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Points of interest</title>
    <link rel="stylesheet" href="../../../resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../resources/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="../../../resources/css/main.css"/>
    
</head>

<body>

      <!--  Nav bar -->
	  <div th:substituteby="fragments/template :: navTag" class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">OpenCatalog</a>
                </div>
            </div>
        </div>
        
    <!-- container -->    
	<div class="container">
	
		<div th:substituteby="fragments/template :: alert" />
		
	
		<h1 th:text="#{poi.pois}" >Points of Interest</h1>
		
		<div class="navbar">
			<div class="navbar-inner">
				<form class="form-search  pull-right" action="#" th:action="@{'/poi'}" method="GET" >
					<div class="input-append">
						<input type="text" name="q" class="span3 search-query" th:value="${q}"/>
						<button type="submit" class="btn" th:text="#{button.search}">Search</button>
					</div>
				</form>
			</div>
		</div>
	   
	   <div id="table">
	    	<table class="table table-striped table-hover table-bordered">
			  <thead>
			    <tr>
			      <th th:text="#{poi.rows.head.name}">Name</th>
			      <th th:text="#{poi.rows.head.type}">Type</th>
			      <th th:text="#{poi.rows.head.description}">Description</th>
			      <th th:text="#{poi.rows.head.adminArea1}">Admin Area 1</th>
			      <th th:text="#{poi.image}">Image</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="poi : ${page.content}" data:link="@{'/poi/' + ${poi.id}}" data-id="1" class="dataLink" data-link="poi.html">
			      <td th:text="${poi.name.es}">Pico del Teide</td>
			      <td th:text="#{ 'poiType.' + ${poi.type}}">Espacio natural</td>
			      <td th:text="${poi.description}? ${#strings.abbreviate(poi.description.es,50)}">Situado en la isla de Tenerife, cuenta con una altitud ...</td>
			      <td th:text="${poi.address}? ${poi.address.adminArea1}">Canarias</td>
			      <td><img class="poiImageSmall rounded dark item" src="../../../../resources/img/no_image.png" th:src="@{'/poi/' +${poi.id} + '/image/default' }" title="Poi image" th:title="#{poi.image}"/></td>
			      
			    </tr>
			    <tr th:remove="all"  data-id="2"  data-link="poi.html" class="dataLink" >
			      <td>Pico del Teide</td>
			      <td>Situado en la isla de Tenerife, cuenta con una altitud ...</td>
			      <td>Canarias</td>
			      <td>[28.2716,-16.6424]</td>
			    </tr>
			    <tr th:remove="all" data-id="3"  data-link="poi.html" class="dataLink" >
			      <td>Pico del Teide</td>
			      <td>Situado en la isla de Tenerife, cuenta con una altitud ...</td>
			      <td>Canarias</td>
			      <td>[28.2716,-16.6424]</td>
			    </tr>
			  </tbody>
			</table>
			<ul class="pager" data-page="0" data-pages="5" data:page="${page.number}" data:pages="${page.totalPages}">
			  <li class="previous"><a  href="#" th:href="@{/poi/(page.page=${page.number},q=${q})}" th:text="#{pager.prev}">Previous</a></li>
			  <li th:text="#{pager.detail(${page.number+1}, ${page.totalPages}, ${page.totalElements})}">Page 0 of 5</li>
			  <li class="next" ><a href="#" th:href="@{/poi/(page.page=${page.number+2},q=${q})}" th:text="#{pager.next}">Next</a></li>
			</ul>
			
		
			
	    </div>
	    
	</div>
        
	    
	    
   	<!-- footer -->
	<footer th:substituteby="fragments/template :: footerTag">
	    <hr/>
		<p>&copy; Spain.info</p>
	</footer>
	
	<div th:substituteby="fragments/template :: scripts" >
	    <!-- COMMON SCRIPTS -->
		<script src="../../../resources/js/vendor/modernizr-2.6.2.js"></script>
	    <script src="../../../resources/js/vendor/jquery-1.9.1.min.js"></script>
	    <script src="../../../resources/js/vendor/bootstrap.js"></script>
	    <script src="../../../resources/js/main.js"></script>
	</div>
	
			
	<script>
		$(function(){
			var button = $('.well button');
			button.bind('click', function(){
				var target = $('#target').val();
				window.location = $(this).data('href') + '/' + target;
			});
			
		});
	</script>
    
</body>
</html>