<!DOCTYPE html>
<html>
<head th:fragment="headTag">

    <title>OpenCatalog</title>
    
    <title th:text="#{${title}}">Home</title>
    
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    
    <link rel="stylesheet" 
    	  href="../../resources/css/bootstrap.min.css"
    	  th:href="@{/resources/css/bootstrap.min.css}"/>
    	  
    <link rel="stylesheet" 
    	  href="../../../resources/css/bootstrap-responsive.min.css"
	      th:href=   "@{/resources/css/bootstrap-responsive.min.css}" />
	      
    <link rel="stylesheet" 
    	  href="../../../resources/css/main.css"
    	  th:href=  "@{/resources/css/main.css}" />
    	   
    <script src="../../../resources/js/vendor/modernizr-2.6.2.js"
    		th:src=   "@{/resources/js/vendor/modernizr-2.6.2.js}" ></script>
    		
    <script src="../../../resources/js/vendor/jquery-1.9.1.min.js"
            th:src=   "@{/resources/js/vendor/jquery-1.9.1.min.js}"></script>
    		
    <script src="../../../resources/js/vendor/bootstrap.min.js"
    		th:src=   "@{/resources/js/vendor/bootstrap.min.js}"></script>
    	    
	<script src="../../../resources/js/main.js"
			th:src=   "@{/resources/js/main.js}"></script>
</head>

<body>
</body>

</html>




