<!DOCTYPE html>
<html>

<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../../resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../resources/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="../../../resources/css/main.css"/>
    <script src="../../../resources/js/vendor/modernizr-2.6.2.js"></script>
    <script src="../../../resources/js/vendor/jquery-1.9.1.min.js"></script>
    <script src="../../../resources/js/vendor/bootstrap.min.js"></script>
	<script src="../../../resources/js/main.js"></script>
</head>

<body>
	  <div th:fragment="navTag" class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#" th:href="@{/}" th:text="#{nav.title}">Catálogo</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#" th:href="@{/}" th:text="#{nav.home}">Home</a></li>
                            <li><a href="#" th:href="@{/api/}" th:text="#{nav.api}">API</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

</body>
</html>

