<!DOCTYPE html>
<html>

<!-- 
  *************
     headTag 
  *************
 -->
<head th:fragment="headTag">
    <title th:text="#{page.title}">Page title</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap-responsive.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/main.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/ui-lightness/jquery-ui-1.9.2.custom.css}" />
	<link rel="stylesheet" th:href="@{/resources/css/jquery.tagedit.css}" />
</head>

<body>

<!-- 
  *************
    navTag 
  *************
 -->	
<div th:fragment="navTag" class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#" th:href="@{/}" th:text="#{nav.title}">Catálogo</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="#" th:href="@{/}"       th:text="#{nav.home}">Home</a></li>
                            <li><a href="#" th:href="@{/api/}"   th:text="#{nav.api}">API</a></li>
                            
                            <li class="dropdown">
		                        <a class="dropdown-toggle" data-toggle="dropdown" th:text="#{nav.admin}">Admin<b class="caret"></b></a>
		                        <ul class="dropdown-menu">
		                          <li><a th:href="@{/admin/poi/}" th:text="#{poi.pois}">Points of interest</a></li>
		                          <li><a th:href="@{/admin/zone/}" th:text="#{zone.zones}">Zones</a></li>
		                        </ul>
		                    </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        
        
  <div class="container">
  
  		<div id="alerts" th:fragment="alert"  >
	  		<div  class="alert alert-info" th:if="${infoMessage}" >
				<button type="button" class="close" data-dismiss="alert">×</button>
				<span th:text="#{${infoMessage}}">Info Message</span>
			</div>
  		</div>
    
      <div class="hero-unit">
         <h1>Template example</h1>
         <p>This is a template</p>
      </div>
  </div> <!-- /container -->
  

<!-- 
  *************
    footerTag 
  *************
 -->
<footer th:fragment="footerTag">
	<hr/>
	<p th:text="#{footer.copyright}">&copy; Spain.info</p>
</footer>

<div th:fragment="scripts">
	<script th:src="@{/resources/js/vendor/modernizr-2.6.2.js}" ></script>
	<script th:src="@{/resources/js/vendor/jquery-1.9.1.min.js}"></script>
	<script th:src="@{/resources/js/vendor/bootstrap.js}"></script>
	<script th:src="@{/resources/js/main.js}"></script>
</div>

<!--
  *************
    Tags 
  *************
 -->
<div th:fragment="tags">
	<script>
		$(function(){
		 	$('input.tag').tagedit({
		 		allowEdit: false,
		 		autocompleteURL: '/opencatalog/admin/poi/tags',
			});
		});
	</script>
</div>


</body>
</html>




