<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Points of interest</title>
	<link rel="stylesheet" href="../../../../../resources/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../../../../resources/css/bootstrap-responsive.min.css"/>
	<link rel="stylesheet" href="../../../../../resources/css/ui-lightness/jquery-ui-1.9.2.custom.css"/>
	<link rel="stylesheet" href="../../../../../resources/css/jquery.tagedit.css"/>
	<link rel="stylesheet" href="../../../../../resources/css/main.css"/>
	
</head>

<body>
<!--  Nav bar -->
<div class="navbar navbar-inverse"><div class="navbar-inner"><div class="container"><a class="brand" href="#">OpenCatalog</a></div></div></div>

<div class="container">
  <div th:fragment="zonesTag" class="tab-pane" id="zones">
   
	<div id="table">
		
	   	<table class="table zones table-striped table-hover table-bordered" data:link="@{'/admin/zone/'}"  data-link="zone.html">
		  <thead>
		    <tr>
		      <th th:text="#{zone.rows.head.name}">Name</th>
		     <th th:text="#{user.zone.delete}">Delete</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="zone,iter : ${zones}">
		      <td >
		      	<span th:text="${zone.name}" data:link="@{'/admin/zone/' + ${zone.id}}" class="dataLink" data-link="zone.html">Tenerife</span>
		      	<input type="hidden" th:field="*{idZones[__${iter.index}__]}" class="idZone"
					name="idZones[0]"
					value="1"  
				 />
		      	</td>
		      <td><a href="#" class="btn btn-danger removeZone"><i class="icon-trash icon-white" ></i></a></td>
		    </tr>
		    
		    <tr th:remove="all"  data-id="2" data-link="zone.html" class="dataLink" >
		      <td>Madrid</td>
		      <td><a href="#" class="btn btn-danger removeZone"><i class="icon-trash icon-white" ></i></a></td>
		    </tr>
		    <tr th:remove="all" data-id="3" data-link="zone.html" class="dataLink" >
		      <td>Alcalá de Henares</td>
		      <td><a href="#" class="btn btn-danger removeZone"><i class="icon-trash icon-white" ></i></a></td>
		    </tr>
		  </tbody>
		</table>
		
		<div class="well">
			<select id="addZone" >
				<option th:each="zone : ${allZones}" value="zoneMadrid.id" th:value="${zone.id}" th:text="${zone.name}">Madrid</option>
				<option th:remove="all" value="tenerife.id">Tenerife</option>
				<option th:remove="all" value="alaska.id">Alaska</option>
			</select>
	    	<button class="btn addUserZone"  href="#" th:text="#{button.add}">Añadir</button>
	    </div>
	</div>

  
  </div>
</div>



	<div th:substituteby="fragments/template :: scripts" >
	    <!-- COMMON SCRIPTS -->
	    <script src="../../../../../resources/js/vendor/modernizr-2.6.2.js"></script>
		<script src="../../../../../resources/js/vendor/jquery-1.9.1.min.js"></script>
	    <script src="../../../../../resources/js/vendor/bootstrap.js"></script>
		<script src="../../../../../resources/js/main.js"></script>
	</div>
	
	<div>
		<div th:remove="all"><!-- PAGE SCRIPTS --></div>
		<script src="../../../../../resources/js/user/user-zones.js" th:src="@{/resources/js/user/user-zones.js}"></script>
	</div>



</body>
</html>
